#submitBox{
	margin:20px auto;
	text-align:center;
	padding: 15px 40px;
    font-size: 1.2em;
    background-color: #000;
    color: #fff;
    border-style: none;
}

.submit{
	margin:20px auto;
	text-align:center;
}

.text-center{
	text-align:center;
}