/**
 * Juicy Slider styles sheet
 *
 * (c) 2013 by Van Ting
 *
 */


.juicyslider {
    position: relative;
    padding:0;
    margin:0;
    border: 0;
}

.juicyslider ul {
    width:960px;
    height:503px;
    position:absolute;
    overflow: hidden;
    list-style: none outside none;
    padding:0;
    margin:0;
}

.juicyslider li {
    width: 960px;
    height:503px;
    position: absolute;
    top: 0px;
    left: 0px;
    display:none;       /* all hidden initially */
}

.juicyslider li:first-child {
    display: block;
}

.juicyslider .nav {
    position: absolute;
    top: 45%;
    padding: 20px;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
    z-index: 1000;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    background-image: url(../img/nav-40.png);
}

.juicyslider:hover .nav {
    opacity: .5;
    filter: alpha(opacity=50); 
}

.juicyslider .nav.next {
    right: 3%;
}

.juicyslider .nav.prev {
    left: 3%;
    background-position: 40px 0;
}

.juicyslider .mask {
    background-image: none;
    position: absolute;
    width: 960px;
    height: 503px;
    z-index: 100;
}

.juicyslider img.maxw {
    width: 503px;
    height: auto;
    max-height: none;
    position: absolute;
    filter:inherit;     /* for ie8 to inherit parent opacity */
}

.juicyslider img.maxh {
    width: auto;
    max-width: none;
    height: 503px;
    position: absolute;
    filter:inherit;     /* for ie8 to inherit parent opacity */
}