/**********************************

Name: cmxform Styles

***********************************/
form.cmxform {
	/*font-size: 1.0em;*/
	color: #333;
}

form.cmxform label {
	color: #333;
}

form.cmxform label.error, label.error {
	/* remove the next line when you have trouble in IE6 with labels in list */
	color: red;
	font-style: italic
}
div.error { display: none; }
/*input {	border: 1px solid black; }
textarea { border: 1px solid black; }
*/
input:focus { border: 1px dotted black; }
textarea:focus { border: 1px dotted black; }
input.error { border: 1px dotted red; }
textarea.error { border: 1px dotted red; }
form.cmxform .gray * { color: gray; }