@charset "utf-8";

/*--------------------------------------------------------------------------------*/

html {
	overflow-y: scroll;
	-webkit-text-size-adjust: none;
}

body {
	text-align: center;
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, san-serif;
	font-size: 100%;
	line-height: 1.8;
	margin: 0;
	padding: 0;
	background: #FFF;
	color: #333;
}

article, aside, dialog, figure, footer, header, hgroup, nav, section {
	display: block;
}

object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, article, aside, dialog, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
	margin: 0;
	padding: 0;
}

ul, ol, li {
	list-style-type: none;
}

img {
	border-style: none;
}

p {
	font-size: 75%;
}

a {
	color: #002596;
	text-decoration: none;
}

a:hover {
	color: #7F92CA;
	text-decoration: underline;
}

.clearfix:after,
header dl:after,
nav ul:after,
#towColumn:after,
footer #topicPath div:after,
footer #topicPath div ul:after,
footer .subNav ul:after,
footer #footerBack #fLink ul:after,
#leftColumn .contact dl:after,
#leftColumn .contactConfirm dl:after,
#leftColumn .mailMagazine .mailBox div dl:after,
#leftColumn .siteMap div section dl:after {
	visibility: hidden;  
	display: block;  
	font-size: 0;  
	content: " ";  
	clear: both;  
	height: 0;  
}

/*--------------------------------------------------------------------------------*/

header {
	width: 1000px;
	min-height: 100px;
	margin: 0px auto;
	text-align: left;
	position: relative;
}

header h1 {
	width: 180px;
	height: 52px;
	position: absolute;
	top: 25px;
	left: 0px;
}

header p {
	width: 520px;
	line-height: 1.4;
	margin: 0px 0px 5px 200px;
	padding: 35px 0px 0px 0px;
}

header dl {
	width: 124px;
	position: absolute;
	top: 28px;
	left: 876px;
}

header dl dt {
	float: left;
	width: 60px;
	margin: 0px 10px 0px 0px;
	padding: 6px 0px 0px 0px;
	font-size: 1px;
	overflow: hidden;
}

header dl dd {
	float: left;
	width: 22px;
	height: 22px;
	text-indent: -9999px;
	overflow: hidden;
}

header dl dd#sizeM {
	margin: 0px 10px 0px 0px;
}

header dl dd a {
	display: block;
	width: 22px;
	height: 22px;
	background-image: url(../img/header_fontsize_btn.gif);
	background-repeat: no-repeat;
}

header dl dd#sizeM a {
	background-position: 0px -22px;
}

header dl dd#sizeL a {
	background-position: -32px 0px;
}

header #___gcse_0 div.gsc-control-cse,
header #___gcse_0 div.gsc-control-cse-ja {
	width: 269px;
	height: 27px;
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 63px;
	left: 727px;
}

header #___gcse_0 .gsc-control-wrapper-cse,
header #___gcse_0 .gsc-search-box,
header #___gcse_0 .gsc-search-box-tools,
header #___gcse_0 .gsc-input,
header #___gcse_0 .gsc-search-box {
	width: 269px;
	height: 27px;
	margin: 0px;
	padding: 0px;
}

header .gsc-iw-id1,
header .gsc-input-box,
header .gsc-input {
	width: 200px;
	height: 27px;
	margin: 0px;
	padding: 0px;
}

header .gsc-search-button,
header .gsc-search-button-v2 {
	width: 69px;
	height: 27px;
	margin: 0px;
	padding: 0px;
	font-size: 1px;
}

header input.gsc-search-button {
	margin: 1px 0px 0px 0px;
}

/*--------------------------------------------------------------------------------*/

#gNav {
	height: 40px;
	background: url(../img/gnav_back.jpg) repeat-x;
}

#gNav ul {
	width: 1000px;
	height: 40px;
	margin: 0px auto;
	text-align: left;
}

#gNav ul li {
	float: left;
	text-indent: -9999px;
	position: relative;
}

#gNav ul li.gNav01,
#gNav ul li.gNav02,
#gNav ul li.gNav05,
#gNav ul li.gNav06 {
	width: 167px;
}

#gNav ul li.gNav01 div,
#gNav ul li.gNav02 div,
#gNav ul li.gNav05 div,
#gNav ul li.gNav06 div {
	width: 157px;
}

#gNav ul li.gNav03,
#gNav ul li.gNav04 {
	width: 166px;
}

#gNav ul li.gNav03 div,
#gNav ul li.gNav04 div {
	width: 156px;
}

#gNav ul li a {
	display: block;
	height: 39px;
	background-image: url(../img/gnav.jpg);
	background-repeat: no-repeat;
}

#gNav ul li.gNav01 a {
	background-position: 0px 0px;
}

#gNav ul li.gNav01 a:hover,
#gNav ul li.gNav01 a.on,
.home #gNav ul li.gNav01 a {
	background-position: 0px -40px;
}

#gNav ul li.gNav02 a {
	background-position: -167px 0px;
}

#gNav ul li.gNav02 a:hover,
#gNav ul li.gNav02 a.on,
.company #gNav ul li.gNav02 a {
	background-position: -167px -40px;
}

#gNav ul li.gNav03 a {
	background-position: -334px 0px;
}

#gNav ul li.gNav03 a:hover,
#gNav ul li.gNav03 a.on,
.why #gNav ul li.gNav03 a {
	background-position: -334px -40px;
}

#gNav ul li.gNav04 a {
	background-position: -500px 0px;
}

#gNav ul li.gNav04 a:hover,
#gNav ul li.gNav04 a.on,
.advance #gNav ul li.gNav04 a {
	background-position: -500px -40px;
}

#gNav ul li.gNav05 a {
	background-position: -666px 0px;
}

#gNav ul li.gNav05 a:hover,
#gNav ul li.gNav05 a.on,
.investment #gNav ul li.gNav05 a {
	background-position: -666px -40px;
}

#gNav ul li.gNav06 a {
	background-position: -833px 0px;
}

#gNav ul li.gNav06 a:hover,
#gNav ul li.gNav06 a.on,
.contact #gNav ul li.gNav06 a {
	background-position: -833px -40px;
}

#gNav ul li div {
	display: none;
	background: #BCDFF7;
	padding: 0px 5px;
	position: absolute;
	top: 38px;
	left: 0px;
	z-index: 3;
}

#gNav ul li div ul {
	width: auto;
	height: auto;
	margin: 0px;
	border-top: #91C8EE 1px solid;
	border-bottom: #E1F0FA 1px solid;
}

#gNav ul li div ul li {
	float: none;
	width: 100%;
	border-top: #E1F0FA 1px solid;
	border-bottom: #91C8EE 1px solid;
	font-size: 75%;
	text-indent: 0px;
	overflow: visible;
}

.home #gNav ul li.gNav01 div ul li a,
.company #gNav ul li.gNav02 div ul li a,
.why #gNav ul li.gNav03 div ul li a,
.advance #gNav ul li.gNav04 div ul li a,
.investment #gNav ul li.gNav05 div ul li a,
.contact #gNav ul li.gNav06 div ul li a,
#gNav ul li.gNav01 div ul li a,
#gNav ul li.gNav02 div ul li a,
#gNav ul li.gNav03 div ul li a,
#gNav ul li.gNav04 div ul li a,
#gNav ul li.gNav05 div ul li a,
#gNav ul li.gNav06 div ul li a {
	display: block;
	height: auto;
	padding: 4px 0px 4px 14px;
	background-image: url(../img/gnav_arrow.gif);
	background-position: 5px 12px;
	color: #000;
}

#gNav ul li.gNav01 div ul li a:hover,
#gNav ul li.gNav02 div ul li a:hover,
#gNav ul li.gNav03 div ul li a:hover,
#gNav ul li.gNav04 div ul li a:hover,
#gNav ul li.gNav05 div ul li a:hover,
#gNav ul li.gNav06 div ul li a:hover {
	background-position: 5px 12px;
	color: #333;
}

/*--------------------------------------------------------------------------------*/

#topImg {
	height: 470px;
	background: url(../img/top_img_back.jpg) repeat-x;
	margin: 0px 0px 20px 0px;
}

#topImg ul {
	width: 1000px;
	margin: 0px auto;
	position: relative;
	text-align: left;
}

#topImg ul li {
	display: none;
	position: absolute;
	top: 20px;
	left: 0px;
	z-index: 1;
}

#pageTitle {
	clear: both;
	height: 100px;
	margin: 0px 0px 30px 0px;
	background: url(../img/pagetitle_back.jpg) repeat-x;
}

#pageTitle h2 {
	width: 1000px;
	margin: 0px auto;
	text-align: left;
}

#pageTitle h2 img {
	padding: 20px 0px 0px 0px;
}

/*--------------------------------------------------------------------------------*/

#towColumn {
	clear: both;
	width: 1000px;
	margin: 0px auto;
	text-align: left;
}

#leftColumn {
	float: left;
	width: 700px;
}

.home #leftColumn h2 {
	height: 30px;
	margin: 0px 0px 20px 0px;
}

#leftColumn .reason,
#leftColumn .reason p,
#leftColumn .business,
#leftColumn .business ul li p {
	padding: 0px 0px 20px 0px;
}

#leftColumn .business ul li {
	float: left;
	width: 220px;
	margin: 0px 20px 0px 0px;
}

#leftColumn .business ul li.right {
	margin: 0px;
}

#leftColumn .business ul li h3 {
	margin: 0px 0px 8px 0px;
	border: #B3C4F7 2px solid;
	background: #002596 url(../img/top_reason_grade.jpg) repeat-x;
	font-size: 88%;
}

#leftColumn .business ul li h3 a {
	display: block;
	padding: 3px 2px 3px 25px;
	background: url(../img/top_reason_arrow.jpg) no-repeat 5% 50%;
	color: #FFF;
}

#leftColumn .news {
	padding: 0px 0px 50px 0px;
}

#leftColumn .news dl dt {
	margin: 0px 0px 0.2em 0px;
	padding: 0px 0px 0.2em 0px;
	font-size: 75%;
}

#leftColumn .news dl dd {
	margin: -2.1em 0px 0.2em 8em;
	padding: 0px 0px 0.2em 0px;
	font-size: 75%;
}

#leftColumn .news dl dd a {
	display: block;
	padding: 0px 0px 0px 15px;
	background: url(../img/top_news_arrow.gif) no-repeat 0px 5px;
}

#leftColumn .newsList {
	padding: 0px 0px 30px 0px;
}

#leftColumn .newsList dl dt {
	margin: 0px 0px 0.8em 0px;
	padding: 0px 0px 0.8em 0px;
	font-size: 75%;
}

#leftColumn .newsList dl dd {
	margin: -3.4em 0px 0.8em 0px;
	padding: 0px 0px 0.8em 8em;
	border-bottom: #CCC 1px dotted;
	font-size: 75%;
}

#leftColumn .newsList dl dd a {
	display: block;
	padding: 0px 0px 0px 15px;
	background: url(../img/top_news_arrow.gif) no-repeat 0px 5px;
}

#leftColumn .wp-pagenavi {
	padding: 0px 0px 50px 0px;
	text-align: center;
	font-size: 75%;
	font-weight: bold;
}

#leftColumn .wp-pagenavi .pages,
#leftColumn .wp-pagenavi .extend {
	margin: 0px 5px;
	padding: 5px 10px;
}

#leftColumn .wp-pagenavi .current {
	margin: 0px 5px;
	padding: 5px 10px;
	background: #333;
	color: #FFF;
}

#leftColumn .wp-pagenavi a {
	margin: 0px 5px;
	padding: 5px 10px;
	border: #002596 1px solid;
	color: #002596;
}

#leftColumn .wp-pagenavi a:hover {
	background: #002596;
	color: #FFF;
}

#leftColumn .newsPost {
	padding: 0px 0px 30px 0px;
}

#leftColumn .newsPost h3 {
	margin: 0px 0px 5px 0px;
	padding: 0px 0px 5px 0px;
	border-bottom: #CCC 1px dotted;
	font-size: 88%;
}

#leftColumn .newsPost p.date {
	padding: 0px 0px 5px 0px;
	text-align: right;
}

#leftColumn .newsPost div p {
	padding: 0px 0px 20px 0px;
	text-align: left;
}

#leftColumn .mission,
#leftColumn .outline,
#leftColumn .member,
#leftColumn .access,
#leftColumn .companyBusiness,
#leftColumn .japan,
#leftColumn .after,
#leftColumn .situation,
#leftColumn .merit,
#leftColumn .benefits,
#leftColumn .asia,
#leftColumn .links,
#leftColumn .corporation,
#leftColumn .bSupport,
#leftColumn .adviser,
#leftColumn .funds,
#leftColumn .visit,
#leftColumn .case,
#leftColumn .appeal,
#leftColumn .finance,
#leftColumn .realEstate,
#leftColumn .ma,
#leftColumn .service,
#leftColumn .contact,
#leftColumn .contactConfirm,
#leftColumn .contactError,
#leftColumn .mailMagazine,
#leftColumn .faq,
#leftColumn .PrivacyPolicy,
#leftColumn .siteMap {
	clear: both;
	padding: 0px 0px 30px 0px;
}

#leftColumn .mission h3,
#leftColumn .outline h3,
#leftColumn .member h3,
#leftColumn .access h3,
#leftColumn .companyBusiness h3,
#leftColumn .japan h3,
#leftColumn .after h3,
#leftColumn .situation h3,
#leftColumn .merit h3,
#leftColumn .benefits h3,
#leftColumn .asia h3,
#leftColumn .links h3,
#leftColumn .corporation h3,
#leftColumn .bSupport h3,
#leftColumn .adviser h3,
#leftColumn .funds h3,
#leftColumn .visit h3,
#leftColumn .case h3,
#leftColumn .appeal h3,
#leftColumn .finance h3,
#leftColumn .realEstate h3,
#leftColumn .ma h3,
#leftColumn .service h3,
#leftColumn .contact h3,
#leftColumn .contactConfirm h3,
#leftColumn .contactError h3,
#leftColumn .mailMagazine h3,
#leftColumn .faq h3,
#leftColumn .PrivacyPolicy h3,
#leftColumn .siteMap h3 {
	height: 30px;
	margin: 0px 0px 20px 0px;
	font-size: 1px;
}

#leftColumn .outline h4,
#leftColumn .companyBusiness .alliance h4,
#leftColumn .situation section h4,
#leftColumn .merit section h4,
#leftColumn .benefits h4,
#leftColumn .asia h4,
#leftColumn .bSupport h4,
#leftColumn .case h4,
#leftColumn .finance h4,
#leftColumn .realEstate h4,
#leftColumn .PrivacyPolicy h4 {
	margin: 0px 0px 10px 0px;
	background: url(../img/title_line_back.jpg) repeat-y;
	font-size: 88%;
	clear: both;
}

#leftColumn .outline h4 span,
#leftColumn .companyBusiness .alliance h4 span,
#leftColumn .situation section h4 span,
#leftColumn .merit section h4 span,
#leftColumn .benefits h4 span,
#leftColumn .asia h4 span,
#leftColumn .bSupport h4 span,
#leftColumn .case h4 span,
#leftColumn .finance h4 span,
#leftColumn .realEstate h4 span,
#leftColumn .PrivacyPolicy h4 span {
	display: block;
	padding: 0px 0px 0px 20px;
	background: url(../img/title_line.jpg) no-repeat;
}

#leftColumn .mission p,
#leftColumn .outline dl,
#leftColumn .member section div,
#leftColumn .companyBusiness p,
#leftColumn .companyBusiness section dl,
#leftColumn .japan p,
#leftColumn .japan dl,
#leftColumn .after dl,
#leftColumn .situation p,
#leftColumn .situation dl,
#leftColumn .merit p,
#leftColumn .benefits p,
#leftColumn .asia p,
#leftColumn .corporation p,
#leftColumn .bSupport p,
#leftColumn .adviser p,
#leftColumn .funds p,
#leftColumn .visit p,
#leftColumn .finance p,
#leftColumn .realEstate p,
#leftColumn .ma p,
#leftColumn .service p,
#leftColumn .faq p.space,
#leftColumn .contactError p,
#leftColumn .PrivacyPolicy p {
	padding: 0px 0px 20px 0px;
}

#leftColumn .outline p,
#leftColumn .situation .comparison p.space,
#leftColumn .merit p.space,
#leftColumn .asia p.space,
#leftColumn .bSupport p.space,
#leftColumn .PrivacyPolicy p.space {
	padding: 0px 0px 30px 0px;
}

#leftColumn .outline dl dt,
#leftColumn .companyBusiness section dl dt,
#leftColumn .japan dt,
#leftColumn .situation dl dt {
	margin: 0px 0px 0.4em 0px;
	padding: 0px 0px 0.4em 0px;
	font-size: 75%;
	font-weight: bold;
}

#leftColumn .outline dl dd,
#leftColumn .companyBusiness section dl dd,
#leftColumn .japan dd,
#leftColumn .situation dl dd {
	margin: -2.5em 0px 0.4em 8em;
	padding: 0px 0px 0.4em 0px;
	font-size: 75%;
}

#leftColumn .situation dl dd {
	margin: -2.5em 0px 0.4em 13em;
}

#leftColumn .japan dd dl {
	padding: 0px;
}

#leftColumn .japan dd dl dt {
	margin: 0px 0px 0.1em 0px;
	padding: 0px 0px 0.1em 0px;
	font-size: 100%;
	font-weight: normal;
}

#leftColumn .japan dd dl dd {
	margin: -1.9em 0px 0.1em 10em;
	padding: 0px 0px 0.1em 0px;
	font-size: 100%;
}

#leftColumn .outline .number,
#leftColumn .asia .number,
#leftColumn .faq .number {
	margin: 0px 0px 0px 22px;
	padding: 0px 0px 30px 0px;
}

#leftColumn .asia .number,
#leftColumn .faq .number {
	padding: 0px 0px 20px 0px;
}

#leftColumn .outline .number li,
#leftColumn .asia .number li,
#leftColumn .faq .number li {
	list-style-type: decimal;
	font-size: 75%;
}

#leftColumn .outline .discSpace,
#leftColumn .companyBusiness .alliance .discSpace,
#leftColumn .links .discSpace {
	margin: 0px 0px 0px 22px;
	padding: 0px 0px 20px 0px;
}

#leftColumn .outline .discSpace li,
#leftColumn .companyBusiness .alliance .discSpace li,
#leftColumn .links .discSpace li {
	padding: 0px 0px 10px 0px;
	list-style-type: disc;
	font-size: 75%;
}

#leftColumn .outline .discSpace li span,
#leftColumn .companyBusiness .alliance .discSpace li span {
	margin: 0px 30px 0px 0px;
	font-weight: bold;
}

#leftColumn .outline .disc,
#leftColumn .companyBusiness .alliance .disc,
#leftColumn .benefits .disc,
#leftColumn .case .disc,
#leftColumn .appeal .disc,
#leftColumn .faq .disc,
#leftColumn .PrivacyPolicy .disc {
	margin: 0px 0px 0px 22px;
	padding: 0px 0px 20px 0px;
}

#leftColumn .benefits .disc30 {
	padding: 0px 0px 30px 0px;
}

#leftColumn .faq .discNon,
#leftColumn .PrivacyPolicy .disc {
	padding: 0px;
}

#leftColumn .outline .disc li,
#leftColumn .companyBusiness .alliance .disc li,
#leftColumn .benefits .disc li,
#leftColumn .case .disc li,
#leftColumn .appeal .disc li,
#leftColumn .faq .disc li,
#leftColumn .PrivacyPolicy .disc li {
	list-style-type: disc;
	font-size: 75%;
}

#leftColumn .member section {
	clear: both;
}

#leftColumn .member section h4,
#leftColumn .companyBusiness .contents h4,
#leftColumn .benefits h5,
#leftColumn .PrivacyPolicy h5 {
	margin: 0px 0px 5px 0px;
	font-size: 88%;
}

#leftColumn .member section div .pic {
	float: left;
	width: 125px;
}

#leftColumn .member section div p {
	float: right;
	width: 575px;
}

#leftColumn .access div {
	height: 348px;
	margin: 5px 0px;
	padding: 1px;
	background: #CCC;
}

#leftColumn .access .link {
	padding: 0px 0px 5px 0px;
}

#leftColumn .access .link a {
	padding: 0px 0px 0px 16px;
	background: url(../img/right_arrow.gif) no-repeat 0% 50%;
}

#leftColumn .access .sub {
	margin: 0px 0px 0px 1em;
	padding: 0px 0px 20px 0px;
	text-indent: -1em;
}

#leftColumn .after dl dt {
	height: 20px;
	font-size: 1px;
	overflow: hidden;
}

#leftColumn .after dl dd {
	padding: 0px 0px 30px 0px;
	background: url(../img/company_after_back.gif) no-repeat center bottom;
}

#leftColumn .after dl dd.last {
	padding: 0px;
	background: none;
}

#leftColumn .after dl dd p {
	padding: 10px 15px;
	border: #999 4px solid;
}

#leftColumn .gdp,
#leftColumn .comparison,
#leftColumn .sez,
#leftColumn .qip,
#leftColumn .system,
#leftColumn .expenses,
#leftColumn .mekong,
#leftColumn .bank,
#leftColumn .micro,
#leftColumn .month {
	width: 100%;
	margin: 0px 0px 30px 0px;
	border-top: #CCC 1px solid;
	border-left: #CCC 1px solid;
	border-spacing: 0;
	font-size: 100%;
	line-height: 1.6;
}

#leftColumn .comparison,
#leftColumn .qip,
#leftColumn .system,
#leftColumn .bank,
#leftColumn .micro,
#leftColumn .month {
	margin: 0px 0px 20px 0px;
}

#leftColumn .gdp th,
#leftColumn .comparison th,
#leftColumn .sez th,
#leftColumn .qip th,
#leftColumn .system th,
#leftColumn .expenses th,
#leftColumn .mekong th,
#leftColumn .bank th,
#leftColumn .micro th,
#leftColumn .month th {
	padding: 5px 10px;
	background: #999;
	border-right: #CCC 1px solid;
	border-bottom: #CCC 1px solid;
	font-size: 75%;
	color: #FFF;
	text-align: center;
}

#leftColumn .mekong th {
	width: 16%;
}

#leftColumn .gdp td,
#leftColumn .comparison td,
#leftColumn .sez td,
#leftColumn .qip td,
#leftColumn .system td,
#leftColumn .expenses td,
#leftColumn .mekong td,
#leftColumn .bank td,
#leftColumn .micro td,
#leftColumn .month td {
	padding: 5px 10px;
	background: #FFF;
	border-right: #CCC 1px solid;
	border-bottom: #CCC 1px solid;
	font-size: 75%;
	text-align: center;
}

#leftColumn .comparison td.check,
#leftColumn .system th.check,
#leftColumn .system td.check,
#leftColumn .expenses td.check,
#leftColumn .mekong th.check,
#leftColumn .mekong td.check {
	background: #D21126;
	color: #FFF;
}

#leftColumn .qip td.left,
#leftColumn .bank th.left,
#leftColumn .month td.left {
	text-align: left;
}

#leftColumn .qip td.right {
	text-align: right;
}

#leftColumn .mekong td.top {
	vertical-align: top;
	text-align: left;
}

#leftColumn .merit section .indent {
	margin: 0px 0px 0px 1em;
	padding: 0px 0px 30px 0px;
	text-indent: -1em;
}

#leftColumn .merit .geography {
	padding: 0px 0px 10px 0px;
}

#leftColumn .merit .geography .text {
	float: left;
	width: 380px;
}

#leftColumn .merit .geography .pic {
	float: right;
	width: 300px;
}

#leftColumn .merit h5,
#leftColumn .benefits h6,
#leftColumn .finance h5,
#leftColumn .faq dl dd h4,
#leftColumn .PrivacyPolicy h6 {
	margin: 0px 0px 3px 0px;
	font-size: 75%;
}

#leftColumn .asia .nonSpace,
#leftColumn .PrivacyPolicy .nonSpace {
	padding: 0px;
}

#leftColumn .grayBox {
	margin: 0px 0px 20px 0px;
	padding: 4px;
	border: #D6D6D6 1px solid;
}

#leftColumn .grayBox30 {
	margin: 0px 0px 30px 0px;
}

#leftColumn .grayBox div {
	padding: 15px 20px;
	background: #F5F5F5;
}

#leftColumn .grayBox div dl dt {
	margin: 0px 0px 0.1em 0px;
	padding:  0px 0px 0.1em 0px;
	font-size: 75%;
	font-weight: bold;
}

#leftColumn .grayBox div dl dd {
	padding:  0px 0px 0.1em 0px;
	font-size: 75%;
}

#leftColumn .text06 div dl dd {
	margin: -2.0em 0px 0.1em 6em;
}

#leftColumn .text12 div dl dd {
	margin: -2.0em 0px 0.1em 12em;
}

#leftColumn .text16 div dl dd {
	margin: -2.0em 0px 0.1em 16em;
}

#leftColumn .grayBox div ul {
	margin: 0px 0px 0px 22px;
}

#leftColumn .grayBox div ul li {
	list-style-type: disc;
	font-size: 75%;
}

#leftColumn .grayBox div h5 {
	margin: 0px 0px 5px 0px;
	border-bottom: #FFF 1px solid;
	font-size: 75%;
}

#leftColumn .grayBox div h5 span {
	display: block;
	padding: 0px 0px 5px 0px;
	border-bottom: #DDD 1px solid;
}

#leftColumn .grayBox p.indent {
	margin: 15px 0px 0px 1em;
	padding: 0px;
	text-indent: -1em;
}

#leftColumn .picListA {
	padding: 0px 0px 20px 0px;
}

#leftColumn .picListASpace {
	padding: 0px 0px 30px 0px;
}

#leftColumn .picListA li {
	float: left;
	width: 220px;
	margin: 0px 20px 0px 0px;
}

#leftColumn .picListA li.right {
	margin: 0px;
}

#leftColumn .picListB {
	padding: 0px 0px 20px 0px;
}

#leftColumn .picListB li {
	float: left;
	width: 340px;
	margin: 0px 20px 0px 0px;
	padding: 0px 0px 10px 0px;
}

#leftColumn .picListB li.right {
	margin: 0px;
}

#leftColumn .serviceBox {
	padding: 0px 0px 20px 0px;
}

#leftColumn .serviceBox .pic {
	float: left;
	width: 215px;
	padding: 0px;
}

#leftColumn .serviceBox div {
	float: right;
	width: 460px;
}

#leftColumn .serviceBox div div {
	float: none;
	width: 250px;
	height: 145px;
	position: relative;
}

#leftColumn .serviceBox div div p.mail {
	width: 230px;
	height: 45px;
	position: absolute;
	top: 90px;
	left: 10px;
}

#leftColumn .contact .requiredMark,
#leftColumn .contactConfirm .requiredMark {
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 0px 17px;
	border-left: #A3222B 3px solid;
	font-size: 63%;
}

#leftColumn .contact dl,
#leftColumn .contactConfirm dl {
	clear: both;
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 10px 0px;
	border-bottom: #D6D6D6 1px dotted;
}

#leftColumn .contact dl dt,
#leftColumn .contactConfirm dl dt {
	float: left;
	width: 150px;
	padding: 5px 0px 5px 17px;
	border-left: #555 3px solid;
	font-size: 75%;
}

#leftColumn .contact dl dt.required,
#leftColumn .contactConfirm dl dt.required {
	border-left: #A3222B 3px solid;
}

#leftColumn .contact dl dd {
	float: right;
	width: 500px;
}

#leftColumn .contactConfirm dl dd {
	float: right;
	width: 500px;
	padding: 5px 0px;
	font-size: 75%;
}

#leftColumn .contact dl dd input {
	width: 400px;
	padding: 3px 0px;
	border: #D6D6D6 1px solid;
}

#leftColumn .contact dl dd textarea {
	width: 450px;
	height: 300px;
	border: #D6D6D6 1px solid;
}

#leftColumn .contact .submit,
#leftColumn .contactConfirm .submit,
#leftColumn .contactError .submit {
	padding: 0px 0px 20px 197px;
}

#leftColumn .contact .submit input,
#leftColumn .contactConfirm .submit input,
#leftColumn .contactError .submit input {
	width: 136px;
	height: 40px;
	margin: 0px 20px 0px 0px;
	background: url(../img/contact_submit.png) no-repeat;
	border: none;
	color: #FFF;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}

#leftColumn .contactError #error {
	margin: 0px 0px 20px 0px;
	padding: 10px 20px;
	background: #000;
	border: #979797 1px dotted;
	color: #FFF;
}

#leftColumn .mailMagazine .mailBox {
	margin: 0px 0px 20px 0px;
	padding: 4px;
	border: #D6D6D6 1px solid;
}

#leftColumn .mailMagazine .mailBox div {
	padding: 10px 15px;
	background: #F5F5F5;
}

#leftColumn .mailMagazine .mailBox div h4 {
	margin: 0px 0px 10px 0px;
	border-bottom: #FFF 1px solid;
	font-size: 88%;
}

#leftColumn .mailMagazine .mailBox div h4 span {
	display: block;
	padding: 0px 0px 5px 0px;
	border-bottom: #D6D6D6 1px solid;
}

#leftColumn .mailMagazine .mailBox div dl {
	clear: both;
	padding: 0px 0px 10px 0px;
}

#leftColumn .mailMagazine .mailBox div dl dt {
	float: left;
	width: 150px;
	padding: 5px 0px 0px 0px;
	font-size: 75%;
}

#leftColumn .mailMagazine .mailBox div dl dd {
	float: right;
	width: 510px;
}

#leftColumn .mailMagazine .mailBox div dl dd input {
	width: 400px;
	padding: 3px 0px;
	border: #D6D6D6 1px solid;
}

#leftColumn .mailMagazine .mailBox div dl dd textarea {
	width: 400px;
	height: 100px;
	border: #D6D6D6 1px solid;
}

#leftColumn .mailMagazine .mailBox div .submit {
	padding: 0px 0px 0px 147px;
}

#leftColumn .mailMagazine .mailBox div .submit input {
	width: 136px;
	height: 40px;
	background: url(../img/contact_submit.png) no-repeat;
	border: none;
	color: #FFF;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}

#leftColumn .faq dl {
	margin: 0px 0px 20px 0px;
	border-bottom: #CCC 1px dotted;
}

#leftColumn .faq dl dt {
	padding: 17px 0px 17px 50px;
	border-top: #CCC 1px dotted;
	background: url(../img/contact_faq_q.jpg) no-repeat 0px 9px;
	color: #002596;
	font-size: 75%;
	font-weight: bold;
	cursor: pointer;
}

#leftColumn .faq dl dt.hover {
	color: #7F92CA;
	text-decoration: underline;
}

#leftColumn .faq dl dd {
	display: none;
	padding: 8px 0px 10px 50px;
	background: url(../img/contact_faq_a.jpg) no-repeat 0px 0px;
}

#leftColumn .faq dl dd.open {
	display: block;
}

#leftColumn .siteMap div {
	margin: 0px 0px 20px 0px;
	border-top: #CCC 1px dotted;
	background: url(../img/sitemap_back.gif) repeat-y;
}

#leftColumn .siteMap div section {
	border-bottom: #CCC 1px dotted;
}

#leftColumn .siteMap div section dl {
	border-top: #FFF 1px solid;
	border-bottom: #FFF 1px solid;
}

#leftColumn .siteMap div section dl dt {
	float: left;
	width: 310px;
	padding: 5px 15px;
	font-size: 75%;
}

#leftColumn .siteMap div section dl dt a {
	display: block;
	padding: 4px 0px 4px 15px;
	background: url(../img/right_arrow.gif) no-repeat 0% 50%;
	color: #555;
}

#leftColumn .siteMap div section dl dd {
	float: left;
	width: 330px;
	padding: 5px 15px;
	font-size: 75%;
}

#leftColumn .siteMap div section dl dd a {
	display: block;
	padding: 4px 0px 4px 15px;
	background: url(../img/right_arrow.gif) no-repeat 0% 50%;
	color: #555;
}

/*--------------------------------------------------------------------------------*/

#rightColumn {
	float: right;
	width: 250px;
}

#rightColumn aside .contactBox {
	height: 145px;
	margin: 0px 0px 20px 0px;
	position: relative;
}

#rightColumn aside .contactUnder {
	margin: 0px 0px 50px 0px;
}

#rightColumn aside .contactBox .mail {
	width: 230px;
	height: 45px;
	position: absolute;
	top: 90px;
	left: 10px;
}

#rightColumn aside .facebook {
	height: 610px;
	margin: 0px 0px 20px 0px;
}

#rightColumn aside .banner {
	padding: 0px 0px 40px 0px;
}

#rightColumn aside .banner li {
	height: 60px;
	padding: 0px 0px 10px 0px;
	font-size: 1px;
}

#rightColumn nav {
	margin: 0px 0px 30px 0px;
}

#rightColumn nav dl dt {
	margin: 0px 0px 5px 0px;
	padding: 0px 0px 1px 0px;
	border-bottom: #CCC 1px dotted;
	font-size: 1px;
}

#rightColumn nav dl dt span {
	display: block;
	padding: 0px 0px 1px 0px;
	border-bottom: #CCC 1px dotted;
}

#rightColumn nav dl dd {
	margin: 0px 0px 1px 0px;
	padding: 0px 0px 1px 0px;
	border-bottom: #CCC 1px dotted;
	font-size: 75%;
	font-weight: bold;
}

#rightColumn nav dl dd.top {
	padding: 1px 0px 1px 0px;
	border-top: #CCC 1px dotted;
	border-bottom: #CCC 1px dotted;
}

#rightColumn nav dl dd a {
	display: block;
	padding: 4px 0px 4px 25px;
	background: url(../img/right_arrow.gif) no-repeat 4% 50%;
	border: #EBEBEB 2px solid;
}

#rightColumn nav dl dd a:hover {
	background: #EBEBEB url(../img/right_arrow.gif) no-repeat 4% 50%;
	color: #002596;
	text-decoration: none;
}

/*--------------------------------------------------------------------------------*/

footer {
	clear: both;
	border-top: #002596 1px solid;
}

footer #topicPath {
	background: #3250AA url(../img/footer_grade.jpg) repeat-x;
	border-top: #FFF 1px solid;
	border-bottom: #516FCC 1px solid;
}

footer #topicPath div {
	width: 1000px;
	margin: 0px auto;
	text-align: left;
}

footer #topicPath div ul {
	float: left;
	width: 900px;
	padding: 5px 0px 5px 20px;
	background: url(../img/footer_topicpath.gif) no-repeat left center;
}

footer #topicPath div ul li {
	float: left;
	padding: 0px 15px 0px 0px;
	font-size: 75%;
	line-height: 20px;
	color: #FFF;
}

footer #topicPath div ul li a {
	color: #FFF;
}

footer #topicPath div ul li.last {
	padding: 0px 20px 0px 0px;
	background: url(../img/footer_topicpath.gif) no-repeat right center;
}

footer #topicPath div p {
	float: right;
	width: 80px;
	font-size: 1px;
}

footer #footerBack {
	padding: 0px 0px 50px 0px;
	background: #002596 url(../img/footer_back.jpg) repeat;
	text-align: left;
}

footer #footerBack .subNav {
	width: 1000px;
	margin: 0px auto 30px auto;
	border-bottom: #3F5DBC 1px solid;
}

footer #footerBack .subNav ul {
	padding: 20px 0px;
	border-bottom: #000033 1px solid;
}

footer #footerBack .subNav ul li {
	float: left;
	margin: 0px 30px 0px 0px;
	font-size: 75%;
}

footer #footerBack .subNav ul li a {
	color: #FFF;
}

footer #footerBack #fLink {
	width: 1000px;
	margin: 0px auto;
}

footer #footerBack #fLink ul li.fCts {
	float: left;
	width: 210px;
}

footer #footerBack #fLink ul li .logo {
	height: 45px;
	font-size: 1px;
}

footer #footerBack #fLink ul li .sub {
	padding: 0px 0px 20px 0px;
	font-size: 69%;
	color: #FFF;
}

footer #footerBack #fLink ul li .copy {
	font-size: 69%;
	color: #CCC;
}

footer #footerBack #fLink ul li.box {
	float: left;
	width: 150px;
	margin: 0px 10px 0px 0px;
}

footer #footerBack #fLink ul li.boxRight {
	margin: 0px;
}

footer #footerBack #fLink ul li.box dl dt {
	margin: 0px 0px 5px 0px;
	border-bottom: #3F5DBC 1px solid;
	font-size: 69%;
	font-weight: bold;
}

footer #footerBack #fLink ul li.box dl dt a {
	display: block;
	padding: 0px 0px 5px 0px;
	border-bottom: #000033 1px solid;
	color: #CCC;
}

footer #footerBack #fLink ul li.box dl dd {
	font-size: 69%;
	line-height: 1.4;
}

footer #footerBack #fLink ul li.box dl dd a {
	display: block;
	padding: 5px 0px 5px 15px;
	background: url(../img/footer_arrow.gif) no-repeat 2px 10px;
	color: #CCC;
}
