.index-2 .block-3 .grid_6 > div { background: #000}
.index #touch_gallery a div {display: none;}
#toTop { padding: 5px; background: #fff }
#toTop:hover { background: #000 }
#contact-form input[type='text'] { width: 90%;}