/* Stuck menu styles
========================================================*/
.isStuck {
  background: #fff;
  z-index: 999;
}
.isStuck .block-1 {
  display: none;
}
@media only screen and (max-width: 979px) {
  .isStuck {
    display: none !important;
  }
}
