/* Main menu styles
========================================================*/
.sf-menu {
	width: 100%;
	text-align: center;
	line-height: 24px;
	background: #000;

	>li {
		display: inline-block;
		position: relative;
		padding: 24px 0 18px 82px;
		margin: 0;
		>a {
			display: inline-block;
			color: @wh-color;
			font-size: 24px;
			font-family: @tr-font;
			text-transform: uppercase;
			font-weight: 400;

		}
		&:first-child {padding-left: 0;}
		&.current > a { text-decoration: underline; }
	}
}
@media only screen and (max-width: 1199px) {
	.sf-menu li {
		padding-left: 24px;
	}
}
@media only screen and (max-width: 979px) {
	.sample{
		height: auto;/*delete this class*/
	}
}

/* First level sub-menu styles
========================================================*/
.sf-menu ul {
	position: absolute;
	top: 66px;
	left:20px;
	background: #000;
	min-width: 194px;
	z-index: 999;
	display: none;
	text-align: left;
	padding-left: 35px;
	.box-sizing(border-box);
	li{
		position: relative;
		font-family: @tr-font;
		color: #fff;
		font-size: 18px;
		a{
			line-height: 45px;
			display: block;
			color: @wh-color;
		}
	}
}
/* Second level sub-menu styles
========================================================*/
.sf-menu ul ul{
	position: absolute;
	top: 0;
	left: 160px;
	z-index: 4;
	min-width: 194px;
}

@media only screen and (max-width: 767px) {
	.sf-menu {
		display: none;
	}
	.select-menu {
		display: block;
		width: 100%;
		border-color: #fff;
		color: #fff;
		font-size: 16px;
		padding: 5px;
	}
}

@import "mixins.less";